<div class="container mt-5">
  <h1 class="text-center mb-4">Lista de Filmes</h1>
  <div class="row">
    <ng-container *ngFor="let chunk of result | chunk: 5">
      <div class="col-md-3 mb-4" *ngFor="let filme of chunk">
        <div class="card h-100 border-0">
          <a [routerLink]="['/descricao', filme.id]">
            <div
              class="film-card"
              [style.background-image]="'url(' + (tmdbImageUrlBase + filme.poster_path) + ')'"
              (mouseenter)="showFilmInfo[filme.id] = true"
              (mouseleave)="showFilmInfo[filme.id] = false"
            ></div>
          </a>
          <div class="card-body text-center">
            <h5 class="card-title" *ngIf="showFilmInfo[filme.id]">{{ filme.title }}</h5>
            <p class="card-text" *ngIf="showFilmInfo[filme.id]">Data de Lançamento: {{ filme.release_date }}</p>
          </div>
        </div>
      </div>
    </ng-container>
  </div>


  <div class="text-center my-4">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item" *ngFor="let page of generatePageArray(); let isFirst = first" [ngClass]="{ 'active': isFirst }">
          <input type="number" [(ngModel)]="selectedPage" class="form-control w-25 d-inline-block" [max]="totalPages">
          <button class="btn btn-primary" (click)="atualizarListaFilmes()">Atualizar</button>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
