.comment-form-container {
  margin-top: 30px;
}

.form-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.comment-form {
  background-color: #000000;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
}

.btn-submit {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.btn-success {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-submit:hover {
  background-color: #343a40;
  border-color: #343a40;
}

.btn-submit:enabled {
  background-color: rgb(17, 0, 147);
  border-color: rgb(17, 0, 147);
}

.btn-submit:enabled:hover {
  background-color: rgb(17, 0, 147);
  border-color: rgb(17, 0, 147);
}
