<link
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
/>

<div>
  <div class="d-flex justify-content-center mb-3">
    <button
      class="btn btn-dark btn-lg"
      (click)="visualizarComentarios()"
      *ngIf="comentario.length > 0 && !comentariosVisiveis"
    >
      Exibir Comentários
    </button>
  </div>

  <div
    class="film-comments-container"
    *ngIf="comentariosVisiveis && comentario.length > 0"
  >
    <div class="d-flex justify-content-center mb-3">
      <h2 class="comment-title">Comentários dos Espectadores</h2>
    </div>
    <!-- Restante do código -->
    <div class="row">
      <div
        class="col-md-12"
        *ngFor="let comment of comentario.slice(0, comentariosExibidos)"
      >
        <div class="card comment-card" *ngIf="comment.comentario.trim() !== ''">
          <div
            class="card-body d-flex justify-content-between align-items-center"
          >
            <div>
              <h5 class="comment-username">Usuario: {{ comment.usuario }}</h5>
              <p class="card-text comment-text">{{ comment.comentario }}</p>
            </div>

            <div class="d-flex align-items-center">
              <!-- Div para os ícones -->
              <div style="margin-left: auto">
                <!-- Alinhar à direita -->
                <!-- Ícone de edição -->
                <button
                  class="btn btn-link text-dark me-2"
                  (click)="abrirModalEditar(comment.id)"
                >
                  <i class="bi bi-pencil"></i>
                </button>

                <!-- Ícone de lixeira -->
                <button
                  class="btn btn-link text-dark"
                  (click)="abrirModalExclusao(modalExclusao, comment)"
                >
                  <i class="bi bi-trash"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- Dentro do loop ngFor -->
      </div>
    </div>

    <!-- Botão "Visualizar Mais Comentários" -->
    <button
      class="btn btn-dark mt-3 me-2"
      *ngIf="comentario.length > comentariosExibidos"
      (click)="carregarMaisComentarios()"
    >
      Visualizar Mais Comentários
    </button>

    <!-- Botão "Esconder Comentários" -->
    <button
      class="btn btn-dark mt-3 me-2 w-25"
      (click)="visualizarComentarios(); comentariosExibidos = 5"
      *ngIf="comentario.length > 0 && comentariosVisiveis"
    >
      Esconder Comentários
    </button>
  </div>
</div>

<!-- Coloque isso fora do loop ngFor -->
<ng-template #modalExclusao let-modal style="z-index: 0">
  <div class="modal-header modal-custom-zindex">
    <h4 class="modal-title">Confirmar Exclusão</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">Tem certeza de que deseja excluir este item?</div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">
      Cancelar
    </button>
    <button
      type="button"
      class="btn btn-danger"
      (click)="
        excluirComentario(
          comentarioParaExcluir.id,
          comentarioParaExcluir.fk_id
        );
        modal.close()
      "
    >
      Excluir
    </button>
  </div>
</ng-template>

<ng-template #modalEdicao let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Editar Comentário</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="novoComentario">Novo Comentário:</label>
        <textarea
          class="form-control input-field"
          id="comentario"
          name="comentario"
          rows="3"
          placeholder="Digite o comentário"
          [(ngModel)]="commentParaEditar.comentario"
        ></textarea>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">
      Cancelar
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="salvarEdicao(); modal.close()"
    >
      Salvar
    </button>
  </div>
</ng-template>
