
<div class="container mt-5">
  <div class="search-bar">
    <div class="input-group">
      <input
        type="text"
        [(ngModel)]="pesquisa"
        (input)="pesquisarFilmes()"
        class="form-control"
        placeholder="Pesquisar filmes"
      />
      <div class="input-group-append">
        <span class="input-group-text"><i class="bi bi-search"></i></span>
      </div>
    </div>
  </div>
  <h1 class="text-left mb-4">Lista de Filmes</h1>
  <div class="row film-container">
    <ng-container *ngFor="let chunk of filmesFiltrados | chunk : 5">
      <div class="col-md-3 mb-4" *ngFor="let filme of chunk">
        <div class="card h-100 border-0">
            <div class="film-card" [routerLink]="['/descricao', filme.id]" [style.background-image]="'url(' + (tmdbImageUrlBase + filme.poster_path) + ')'">
              <div class="film-info">
                <h5 class="card-title">{{ filme.title }}</h5>
                <p class="card-text">Data de Lançamento: {{ filme.release_date }}</p>
                <div class="d-flex justify-content-between">
                  <button class="btn btn-outline-primary btn-like" (click)="botaoLike($event, filme.id)">
                    <i class="bi bi-hand-thumbs-up" [ngClass]="{'active': likeDislikeService.buscarLikeAtivo(filme.id)}"></i>
                  </button>
                  <button class="btn btn-outline-danger btn-dislike" (click)="botaoDislike($event, filme.id)">
                    <i class="bi bi-hand-thumbs-down" [ngClass]="{'active': likeDislikeService.buscarDeslikeAtivo(filme.id)}"></i>
                  </button>
                </div>
              </div>
            </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="text-center my-4">
    <div class="d-flex justify-content-center">
      <nav aria-label="...">
        <ul class="pagination">
          <li class="page-item">
            <button
              class="page-link-botoes prev-next btn btn-sm"
              tabindex="-1"
              aria-disabled="true"
              [class.disabled]="paginaSelecionada === 1"
              (click)="diminuirNumeroPaginas()"
            >
              Anterior
            </button>
          </li>
          <div class="btn-group mx-2">
            <button
              class="page-link btn btn-sm"
              *ngFor="let item of gerarIntervaloPaginas(); let i = index"
              [class.active]="paginaSelecionada === item"
              (click)="clicarNumeroPaginas(item)"
            >
              {{ item }}
            </button>
          </div>
          <li class="page-item">
            <button
              class="page-link-botoes prev-next btn btn-sm"
              [class.disabled]="paginaSelecionada === 100"
              (click)="aumentarNumerodePaginas()"
            >
              Próximo
            </button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
