/* Defina um estilo para fazer o corpo ocupar 100% da altura da viewport */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden; /* Evita a rolagem horizontal */
}


/* Restante do seu CSS */


.main-content {
  flex: 1;
  padding: 20px; /* Adicione padding para espaçamento interno */
}
/* Estilo para o rodapé */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.modal-backdrop.show {
  z-index: 0 !important; /* Defina um valor de z-index menor que o valor problemático (1055) */
}

/* Estilos para os botões de ícone */
.btn-like, .btn-dislike {
  border: none;
  cursor: pointer;
}

.btn-like i, .btn-dislike i {
  font-size: 24px; /* Ajuste o tamanho conforme necessário */
}

/* Estilo quando o mouse passa sobre o botão */
.btn-like:hover i, .btn-dislike:hover i {
  filter: brightness(1.2); /* Efeito de brilho ao passar o mouse */
}

/* Estilos para os botões de ícone */
.btn-like, .btn-dislike {
  border: none;
  cursor: pointer;
}

.btn-like i, .btn-dislike i {
  font-size: 24px; /* Ajuste o tamanho conforme necessário */
}

/* Estilo quando o mouse passa sobre o botão */
.btn-like:hover i, .btn-dislike:hover i {
  filter: brightness(1.2); /* Efeito de brilho ao passar o mouse */
}

/* Estilos para a barra de pesquisa */
.search-bar {
  margin-bottom: 20px; /* Espaçamento inferior */
}

/* Ajuste o tamanho do ícone conforme necessário */
.input-group-text .bi {
  font-size: 1rem;
}

/* Adicione espaço à direita do ícone */
.input-group-append {
  margin-left: -2px;
}
