@import "~@fortawesome/fontawesome-free/css/all.css";
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.main-content {
  flex: 1;
  padding: 20px;
}
/* Estilo para o rodapé */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.modal-backdrop.show {
  z-index: 0 !important;
}

/* Estilos para os botões de ícone */
.btn-like, .btn-dislike {
  border: none;
  cursor: pointer;
}

.btn-like i, .btn-dislike i {
  font-size: 24px;
}

.btn-like:hover i, .btn-dislike:hover i {
  filter: brightness(1.2);
}

.btn-like, .btn-dislike {
  border: none;
  cursor: pointer;
}

.btn-like i, .btn-dislike i {
  font-size: 24px;
}

.btn-like:hover i, .btn-dislike:hover i {
  filter: brightness(1.2);
}

.search-bar {
  margin-bottom: 20px;
}


.input-group-text .bi {
  font-size: 1rem;
}

.input-group-append {
  margin-left: -2px;
}

.btn-like i.active {
  color: green;
}
.btn-dislike i.active {
  color: green;
}
