<footer>
  <div class="contentWrapper">
    <ul class="MenuItems">
      <li>Terms of use</li>
      <li>Privacy Policy</li>
      <li>About</li>
      <li>Blog</li>
      <li>FAQ</li>
    </ul>
    <p class="InfoText">Explore o fascinante mundo do cinema! Continue navegando pelo nosso site para descobrir uma imersão de filmes emocionantes, histórias envolventes e personagens cativantes. De dramas intensos a aventuras cheias de ação, temos uma ampla seleção de filmes para todos os gostos. Não deixe de explorar as diferentes categorias e gêneros, mergulhar em obras clássicas nostálgicas ou ficar por dentro dos últimos lançamentos. Aproveite esta viagem cinematográfica e mergulhe nas narrativas que ganham vida na tela. Continue explorando, pois sempre há mais filmes esperando para serem descobertos e apreciados. Embarque nesta viagem e desfrute da magia do cinema!</p>
    <div class="SocialIcons">
      <a href="https://www.facebook.com/eduardo.brandao.712/" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
      <a href="https://www.instagram.com/eduu_brandao/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
      <a href="https://www.linkedin.com/in/eduardo-brandao-9a4139199/" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin-in"></i></a>
    </div>
  </div>
</footer>
